.foto {
  display: flex;
  align-items:center;
  margin: 40px auto;
  width: 300px;      
  height: auto;
  border: solid 6px chocolate;
}
#instagram{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    
}
.insta-ic{
    width: 50px;
    height: 50px;
}
#telegram{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    font-weight: bold;
    position: absolute;
    left: 230px;
}
.tele-ic{
    width: 50px;
    height: 50px;
}
#what{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    font-weight: bold;
    position: absolute;
    right: 230px;
}
.whatsapp{
    width: 50px;
    height: 50px;
}
#topo{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    background-color: white;
    position: sticky;
    top: 0px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.4);
}
#titulo{
    text-align: center;
    margin:0 auto;
}
body{
    
    background-color:white;
    color: black;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
a{
color:black;
text-decoration: none;
}
.fot{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}
.leg1{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}
.leg2{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.fot2{
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px auto;
}
